<p-sidebar [(visible)]="isVisible" position="right" (onHide)="reset()">
  <h1>Add a box</h1>
  <div class="fieldset">
    <h3>Position</h3>
    <div class="ui-fluid">
      <div>
        <input type="text" pInputText pKeyFilter="int" placeholder="x" [(ngModel)]="x">
      </div>
      <div>
        <input type="text" pInputText pKeyFilter="int" placeholder="y" [(ngModel)]="y">
      </div>
    </div>
  </div>
  <div class="fieldset">
    <h3>Dimensions</h3>
    <div class="ui-fluid">
      <div>
        <input type="text" pInputText pKeyFilter="int" placeholder="width" [(ngModel)]="width">
      </div>
      <div>
        <input type="text" pInputText pKeyFilter="int" placeholder="height" [(ngModel)]="height">
      </div>
    </div>
  </div>
  <div class="fieldset">
    <h3>Colour fill</h3>
    <div>
      <p-colorPicker [(ngModel)]="colour"></p-colorPicker><span class="colour-hex">&nbsp;{{colour}}</span>
    </div>
  </div>
<!--  <div class="fieldset">-->
<!--    <h3>Label</h3>-->
<!--    <div>-->
<!--      <p-colorPicker [(ngModel)]="labelColour"></p-colorPicker><span class="colour-hex">&nbsp;{{labelColour}}</span>-->
<!--    </div>-->
<!--    <div>-->
<!--      <input type="text" pInputText placeholder="text" [(ngModel)]="labelText">-->
<!--    </div>-->
<!--  </div>-->
  <div class="fieldset">
    <button
      pButton
      type="button"
      class="ui-button-warning"
      label="Add"
      (click)="hideDialogue(true)"
    ></button>
    <button
      pButton
      type="button"
      class="ui-button-secondary"
      label="Cancel"
      (click)="hideDialogue(false)"
    ></button>
  </div>

</p-sidebar>
